{% extends "layout.html" %}
{% block content %}
<div class="about-us-container wider-container">
    <h2>O nama</h2>
    <p>Dobrodošli na našu aplikaciju za preporuke odjeće prema vremenskoj prognozi. Naša misija je pomoći vam da se obučete prikladno prema trenutnim vremenskim uvjetima, pružajući vam personalizirane preporuke za odjeću.</p>
    
    <h3>Naša priča</h3>
    <p>Naša aplikacija koristi najnovije podatke o vremenskim uvjetima kako bi vam pružila najbolje savjete za odijevanje. Bez obzira na vremenske uvjete - sunčano, kišovito, vjetrovito ili snježno - mi smo tu da vam pomognemo da budete adekvatno obučeni. Naš cilj je da vam olakšamo svakodnevno donošenje odluka o odjeći i da vam omogućimo da se osjećate ugodno i sigurno u svakoj situaciji.</p>
    
    <h3>Kako funkcioniše</h3>
    <p>Korištenjem sofisticiranih algoritama i modela strojnog učenja, analiziramo trenutnu temperaturu, vremenske uvjete i vaše osobne preferencije kako bismo vam pružili najpreciznije preporuke za odjeću. Naša aplikacija je jednostavna za korištenje:</p>
    <ul>
        <li>Prijavite se ili registrujte.</li>
        <li>Unesite naziv vašeg grada.</li>
        <li>Dobijte personaliziranu preporuku za odjeću.</li>
        <li>Korigujte preporuke prema vlastitim preferencijama - te povratne informacije će biti pohranjene za buduću upotrebu.</li>
    </ul>
    
    <h3>Tehnologija koju koristimo</h3>
    <p>Naša aplikacija je razvijena korištenjem najnovijih tehnologija iz oblasti strojnog učenja i analize podataka. Koristimo podatke sa vremenskih stanica širom sveta kako bismo osigurali da su naše preporuke uvek tačne i pouzdane. Naši modeli su obučeni na velikom broju podataka kako bi mogli da prepoznaju različite vremenske uvjete i pruže vam najbolje moguće savjete.</p>
    
    <h3>O osnivaču</h3>
    <p>Aplikaciju je kreirao Ednan Bešić, polaznik Sarajevo IT Academy'e. Ednan nema iskustvo u razvoju softverskih rješenja, ali ima strast prema tehnologijama koje mogu olakšati svakodnevni život. Njegova vizija je da tehnologija treba biti dostupna svima i da treba služiti za poboljšanje kvaliteta života.</p>
    
    <h3>Kontakt</h3>
    <p>Ako imate bilo kakva pitanja ili sugestije, slobodno nas kontaktirajte putem emaila na <a href="mailto:ednanbesic96@gmail.com">ednanbesic96@gmail.com</a>. Rado ćemo odgovoriti na sve vaše upite.</p>
</div>
{% endblock %}
