{% extends "layout.html" %}
{% block content %}
<div class="centered-container wider-container">
    <h2>Admin Prijava</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('admin_login') }}" class="styled-form">
        <label for="username" class="highlight-label">Korisničko ime:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password" class="highlight-label">Lozinka:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit" class="button">Prijava</button>
    </form>
</div>
{% endblock %}
